# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
# crash.log
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

# Credentials & Sensitive Files
credentials/gcp-key.json
*.pem
*.key

# IDE / OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db